<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbAcessos.Properties.Settings.db_17ConnectionString"
            connectionString="Data Source=gtmanut.database.windows.net;Initial Catalog=db_17;Persist Security Info=True; Async=True;User ID=Dionatan;Password=Di24091996"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>